<launch>

  <arg name="use_usb_cam" default="true" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  <node pkg="mjpeg_server" type="mjpeg_server" name="mjpeg_server" />

  <rosparam command="load" file="$(find usma_remote_interface)/config/gains.yaml" />

  <node pkg="usma_remote_interface" type="remoteCmdDemux.py" name="remote_cmd_demux" output="screen">
  </node>

  <group if="$(arg use_usb_cam)">
    <arg name="width" default="640" />
    <arg name="height" default="480" />
    <arg name="video_device" default="/dev/video0" />
  
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
      <param name="video_device" value="$(arg video_device)" />
      <param name="image_width" value="$(arg width)" />
      <param name="image_height" value="$(arg height)" />
      <param name="pixel_format" value="yuyv" />
      <param name="camera_frame_id" value="usb_cam" />
      <param name="io_method" value="mmap"/>
    </node>
  </group>

</launch>
